.games-container {
  padding: 20px;
  max-width: 90%;
  margin: 0 auto;
  border: 10px;
  background-color: rgb(75, 0, 0);
}

.games-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /* ancho mínimo 300px, máximo 1fr */
  gap: 20px;
  justify-content: center;
}
