.tier-list-page {
    margin-bottom: 40px;
}

.tier-list-page h1 {
    font-family: 'Segoe UI';
    text-align: center;
    font-size: 2rem;
}

.sidebar-container {
    overflow-y: auto;
    flex-shrink: 0;
}
